<h3>Pessoa</h3>
<div data-component="crn-datasource" id="crn-datasource-763276" class="component-holder">
  <datasource filter="" name="Pessoa" entity="api/rest/Pessoa" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
</div>
<div data-component="crn-button" id="crn-button-564202">
  <button class="btn btn-primary" type="submit" onclick="" ng-click="Pessoa.startInserting()" ng-hide="Pessoa.inserting || Pessoa.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Pessoa">
  <div crn-datasource="Pessoa" class="" ng-hide="Pessoa.editing || Pessoa.inserting">
    <table class="table  table-bordered table-hover table-striped">
      <thead>
        <tr class="table-header">
          <th class="">
            <div class="">Nome</div>
          </th>
          <th class="">
            <div class="">{{"template.crud.actions" | translate}}</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-content" ng-repeat="rowData in datasource.data">
          <td class="">
            <div class="">
              {{rowData.nome}}
            </div>
          </td>
          <td class="">
            <div class="">
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
              <button class="btn btn-default btn-sm" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="table-footer-controls">
      <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
    </div>
  </div>
</div>
<div data-component="crn-form" id="crn-form-form-Pessoa">
  <div class="form" ng-show="Pessoa.editing || Pessoa.inserting">
    <form crn-datasource="Pessoa" class="">
      <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
        <button class="btn btn-primary" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
        <button class="btn btn-success" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn btn-primary" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <button class="btn btn-primary" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
      <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
        <button class="btn btn-danger" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
      </div>
      <br/>
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">
        <div data-component="crn-textinput" id="crn-textinput-nome">
          <div class="form-group">
            <label for="textinput-nome" class="">Nome</label>
            <input
              type="text"
              ng-model="Pessoa.active.nome"
              class="form-control"
              id="textinput-nome"
              placeholder="Nome"
              >
          </div>
        </div>
        <!-- NtoN  -->
        <!-- NtoN  end-->
      </fieldset>
    </form>
    <form>
        <fieldset>
            <!-- OneToN -->
        <!--query filter 1toN -->
        <!-- query filter 1toN end-->
        <div data-component="crn-datasource" class="component-holder">
          <datasource filter="" name="EnderecoGrid" enabled="{{Pessoa.editing || Pessoa.inserting}}" entity="api/rest/Pessoa/{{Pessoa.active.id}}/Endereco" keys="id" rows-per-page="100" lazy="true" auto-post="true" dependent-lazy-post="Pessoa" dependent-lazy-post-field="pessoa"></datasource>
        </div>
        <button class="btn btn-primary" onclick="$('#modalEnderecoGrid').modal('show');" ng-click="EnderecoGrid.startInserting();"><i class="fa fa-plus"></i> <span class="">{{"Add" | translate}} Endereco</span> </button>
        <!--search 1toN-->
        <!-- seach 1toN end-->
        <div data-component="crn-textinput" id="crn-textinput-descricao">
          <div class="form-group">
            <label for="textinput-descricao" class="">Endereco</label>
            <div class="component-holder" data-component="crn-grid" id="crn-grid-EnderecoGrid">
              <div crn-datasource="EnderecoGrid">
                <table class="table table-bordered table-hover table-striped">
                  <thead>
                    <tr class="table-header">
                      <th class="">
                        <div class="">
                          Endereco
                        </div>
                      </th>
                      <th class="">
                        <div class="">
                          {{"template.crud.actions" | translate}}
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-content" ng-repeat="rowData in datasource.data">
                      <td>
                        <div>
                          {{rowData.endereco}}
                        </div>
                      </td>
                      <td>
                        <div>
                          <button class="btn btn-default btn-sm" ng-click="datasource.startEditing(rowData)" onclick="$('#modalEnderecoGrid').modal('show');" ><i class="fa fa-edit"></i></button>
                          <button class="btn btn-default btn-sm" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="table-footer-controls">
                  <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()" content="{{&quot;template.crud.load_more&quot; | translate}}...">{{"template.crud.load_more" | translate}}...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="modalEnderecoGrid">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{'Home.view.Close' | translate}}"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Endereco</h4>
              </div>
              <div class="modal-body">
                <div class="text-danger wrapper text-center" ng-show="authError">
                </div>
                <div class="list-group list-group-sm">
                  <div data-component="crn-textinput" id="crn-textinput-endereco">
                    <div class="form-group">
                      <label for="textinput-endereco">Endereco</label>
                      <input type="text" ng-model="EnderecoGrid.active.endereco" class="form-control" id="textinput-endereco" placeholder="Endereco"  >
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" ng-click="EnderecoGrid.post();" onclick="(!EnderecoGrid.missingRequiredField()?$('#modalEnderecoGrid').modal('hide'):void(0))">{{'Save' | translate}}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Home.view.Close' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
        <!-- OneToOne  end -->
        
        </fieldset>
    </form>
  </div>
</div>